configuration {
  combi-modi: "window,drun,run,file-browser-extended,keys";
  font: "System San Francisco Display 12";
  modi: "combi,file-browser-extended,keys";
  show-icons: false;
  lines: 8;
  display-drun: " App";
  display-window: " Window";
  display-run: " Run";
}
@theme "./themes/theme.rasi"

