[Desktop Entry]
Type=Action
Tooltip=Open Folder in sublime
Name=Open Folder in sublime
Profiles=profile-zero;
Icon=sublime-text

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=/usr/bin/subl -n %F
Name=Default profile
