[Desktop Entry]
Type=Action
Tooltip=Open Folder in Terminal
Name=Open Terminal
Profiles=profile-zero;
Icon=terminal

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=/usr/bin/urxvt -cd %F
Name=Default profile
