[Desktop Entry]
Name = Open In Sublime
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
X-KDE-Priority=TopLevel
Actions = opensublime

[Desktop Action opensubl]
Name = Open In Subl
Exec=/usr/bin/subl --command new_file %f
Icon=sublime-text

