[Desktop Entry]
Name = Open In VScode
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
X-KDE-Priority=TopLevel
Actions = openvscode

[Desktop Action openvscode]
Name = Open In VSCode
Exec=/usr/bin/code --no-sandbox --new-window %f
Icon=com.visualstudio.code.oss
